.container {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    .start {
        width: 0; 
        height: 0; 
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 22px solid green;
        cursor: pointer;
    }
    .restart {
        height: 30px;
        position: relative;
    }
    h1 {
        margin: 0;
    }
}