.container {
    height: 100%;
    width: 100%;
    display: flex;
    .content {
        display: flex;
        flex-direction: column;
        padding: 30px 50px;
        width: 100%;
        h1 {
            font-size: larger;
            margin-bottom: 10px;
        }
        .playground {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            max-width: 30%;
            min-width:300px;
            width: 100%;
            min-height: 350px;
        }    
    }
}
