/**
* Header
*/
.header {
    position: fixed;
    display: flex;
    height: 64px;
    padding: 10px 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: white;
    box-shadow: 2px 2px 8px #c1c1c1;
}
.header nav {
    display: flex;
    height: 100%;
    margin: 0 5%;
}
.header nav a {
    display: flex;
    height: 100%;
}
.header nav a img {
    background-color: transparent;
    margin-right: 12px;
    height: 35px;
}
.header nav a h1 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}