.container {
    width: 250px;
    padding: 30px 0 30px 50px;
    background-color: var(--color-sub);
    h1 {
        font-size: 1.3rem;
    }
    ul {
        margin: 10px 0;
        li {
            display: flex;
            width: 100%;
            font-size: 1rem;
            padding-left: 1rem;
            margin: 10px 0;
            &:hover{
                cursor: pointer;
                background-color: rgb(237, 238, 238);
            }
            .a {
                width: 100%;
            }
        }
    }
}

.active {
    position: relative;
    font-weight: bold;
    &::before{
        position: absolute;
        content: "";
        width: .2rem;
        height: 100%;
        left: 0;
        top: 0;
        background-color: red;
    }
}